<h1>Login</h1>

<ng-template appPlaceholder></ng-template>

<form (ngSubmit)="onLogin()" #form="ngForm">

    <div class="alert alert-danger" role="alert" *ngIf="!!error">
        {{ error }}
    </div>

    <div class="lds-ring d-flex" *ngIf="isLoading">
        <div></div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required ngModel #username="ngModel">
        <span class="text-danger" *ngIf="!username.valid && username.touched">Username is not valid!</span>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" minlength="6" required ngModel
            #password="ngModel">
        <span class="text-danger" *ngIf="!password.valid && password.touched">Password is not valid!</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
</form>