<h1>Product List</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" [product]="product">
      <th scope="row">{{ product.id }}</th>
      <th scope="row"><img src="{{ product.image  }}" width="70px" height="60px" alt="{{ product.name }}"></th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <th scope="col">{{ product.quantity }}</th>
    </tr>
  </tbody>
</table>