<h1 class="text-center">Users List</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Fullname</th>
            <th scope="col">Mobile</th>
            <th scope="col">UserType</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <th scope="col">{{ user.fullName }}</th>
            <th scope="col">{{ user.mobileNumber }}</th>
            <th scope="col">{{ user.userType }}</th>
            <th scope="col">{{ user.status }}</th>
        </tr>
    </tbody>
</table>

<app-pagination class="d-flex justify-content-center mt-5" [totalPages]="numsOfPages"
    (pageChange)="onPageChange($event)" [currentPage]="currentPage"></app-pagination>


<div class="text-center mt-5" *ngIf="users.length === 0">
    <em>There is no users yet</em>
</div>